body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: #0077cc;
  padding: 20px;
  color: white;
  font-size: 24px;
}

button {
  background-color: #0077cc;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #005fa3;
}

.container {
  margin: 20px auto;
  max-width: 800px;
}

.book-list {
  padding: 0;
  list-style: none;
}

ul{
  list-style: none;
}

.book-list{
  opacity: 0;
}

.book-item {
  border: 1px solid #0077cc;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  list-style: none;
}

input {
  padding: 10px;
  margin: 10px;
  width: calc(100% - 40px);
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input:focus {
  border-color: #0077cc;
  outline: none;
}
